
.myDialog > *.label.content{
    -fx-font-size: 16px;
    -fx-font-weight: bold;
     -fx-fill: #292929;
}

.myDialog:header *.header-panel *.label{
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-fill: #292929;
}
	