/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
#mniOpen > .label{
}
#mniOpen .accelerator-text{
    -fx-graphic: none;
}

#btnSave {
    -fx-background-image: url("images/save.png");
    -fx-background-size: 30 18;
    -fx-background-repeat: no-repeat;
    -fx-background-position:left;
}